{{ template "header.html" . }}

<div class="theme-panel">
  <div class="theme-panel-left">
    <img class="theme-app-logo" src="{{ url .ReqPath "theme/logo-icon-name-below.png" }}" alt='PlatIAgro Logo' />
    <div class="theme-app-description">
      A Plataforma de Inteligência Artificial para o Agronegócio -
      PlatIAgro - visa facilitar a construção de aplicações baseadas em
      IA, como <i>machine learning</i> em geral, visão computacional e
      processamento de linguagem natural no contexto do agronegócio
      brasileiro.
    </div>
  </div>
  <div class="theme-panel-right">
    <div>
      <h2 class="theme-heading">Login</h2>
      <form method="post" action="{{ .PostURL }}">
        <div class="theme-form-row">
          <div class="theme-form-label">
            <label for="userid">Usuário</label>
          </div>
        <input tabindex="1" required id="login" name="login" type="text" class="theme-form-input {{ if .Invalid }} theme-form-item-has-error {{ end }}" placeholder="Digite seu usuário" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }}/>
        </div>
        <div class="theme-form-row">
          <div class="theme-form-label">
            <label for="password">Senha</label>
          </div>
        <input tabindex="2" required id="password" name="password" type="password" class="theme-form-input {{ if .Invalid }} theme-form-item-has-error {{ end }}" placeholder="Digite sua senha" {{ if .Invalid }} autofocus {{ end }}/>
        </div>

        {{ if .Invalid }}
          <div id="login-error" class="dex-error-box">
            Usuário ou senha inválidos.
          </div>
        {{ end }}

        <button tabindex="3" id="submit-login" type="submit" class="dex-btn theme-btn--primary">Entrar</button>

      </form>
      {{ if .BackLink }}
      <div class="theme-link-back">
        <a class="dex-subtle-text" href="javascript:history.back()">Select another login method.</a>
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ template "footer.html" . }}
