// CONTENT HEADER
.contentHeader {
  background: #fff;
  width: 100%;
  padding: 0;
  box-shadow: 0px 1px 4px rgba(0, 21, 41, 0.12);

  .ant-page-header-heading-left {
    margin: 0 0;
  }

  .ant-page-header-back {
    margin: auto;
    border: 3px solid white;
    padding: 10px;
  }
  .subtitle-custom {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.65);
  }

  .ant-page-header-heading-title {
    padding-right: 21px;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
    width: 100%;

    &:first-child {
      padding: 16px 42px 0 42px;
    }
  }

  .ant-page-header-heading-extra {
    display: flex;
    margin: 0;
  }
}
