.resizable-section {
  pointer-events: all;
  z-index: 2;
  background: #eceff1;
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.09);
  width: 100%;
  box-sizing: border-box;
  justify-content: left;
  text-align: left;
  flex-grow: 1;
  display: inline-block;
  overflow: auto;
  overflow-x: hidden;
}

.resizable-area {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-grow: 3;
  display: flex;
  flex-flow: row-reverse nowrap;
}

.customHandle {
  display: none;
}

.customResizeBorder {
  pointer-events: all;
  cursor: col-resize;
  width: 6px;
  background-color: transparent;
  transition: all ease 0.3s;
  border-right: 2px solid rgba(0, 0, 0, 0.09);
  &:hover {
    border-right: 2px solid #40a9ff;
  }
}

.resizable-section-header {
  color: #262626;
  align-items: center;
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.resizable-section-body {
  color: #262626;
  background-color: #fafafa;
  align-items: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 1px;
  padding: 16px;
}

.resizable-section-title {
  color: #262626;
  align-items: center;
  display: flex;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 10px 0px 0px 15px;
}

.resizable-section-tip {
  color: #262626;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.09);

  & button {
    padding: 0;
    margin: 0;
  }

  & i {
    font-size: 25px;
    line-height: 0;
    padding: 0;
    margin: 0;
  }
}
