language: node_js

node_js:
  - "8"

dist: trusty

addons:
  chrome: stable

cache: yarn

before_script:
  - yarn global add snyk
  - yarn global add codecov
  - yarn

script:
  - snyk test
  - yarn test --coverage

after_script:
  - codecov
  - snyk monitor

notifications:
  email: false
