.debug-button-config{
    width: 67px;
    height: 22px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: none;
    border-radius: 2px;
}

.debug-button-config:hover{
    background-color: #EFDBFF;
    color: #22075E;
}

