.ant-tabs-bar {
  background: #eceff1;
  margin: 0;
  padding-left: 8px;
}
.ant-tabs-top > .ant-tabs-nav {
  margin: 0;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  padding: 0;
}

.tab-title-custom {
  padding: 12px 16px;
}

.menu-tab {
  background-color: #fff;
  z-index: 10;
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  padding: 4px 0;
  text-align: left;
  list-style-type: none;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, 0, 0);
  .menu-tab-item {
    clear: both;
    margin: 0;
    padding: 5px 12px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.close-icon-tab {
  color: #aaa;
  transition: all ease 0.3s;
  padding: 1px;
  &:hover {
    color: #777;
    background-color: #dedede;
  }
}

.menu-item-name {
  span {
    margin-left: 8px;
  }
  &:hover {
    color: #1a80ff;
  }
}
