.experiment-container {
  background-color: #f0f2f5;
  padding: 60px;

  .experiment-wraper {
    background-color: #fff;
    background-size: 25px 25px;
    background-image: radial-gradient(
      circle,
      #58585896 1px,
      rgba(0, 0, 0, 0) 1px
    );
  }
}

.project-title {
  width: auto;
  cursor: pointer;
}
.edit-mode {
  border: none;
  outline: none;
  box-shadow: none;
  &:focus,
  &:active {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
