.rootPage {
  height: 100%;
  width: 100%;
  background: linear-gradient(91.64deg, #3f6600 1.09%, #004e66 98.14%);
}

.rootPageBody {
  margin: 40px;
  padding: 20px;
  background-color: #fff;
  .home-columns {
    padding: 2rem;
  }
  .home-title {
    font-size: 2vw;
  }
  .home-subtitle {
    font-size: 1.5vw;
  }

  .home-text {
    max-width: 90%;
    margin-top: 5vh;
    font-size: 1.2vw;
  }
  .logo-content {
    margin-top: 10vh;
    .logo-color {
      width: 25vw;
    }
  }
  .card-content {
    margin-top: 10vh;
  }
  .home-cards {
    display: flex;
    flex-direction: row;
    div {
      margin-right: 16px;
      border: 1px solid transparent;

      color: #ad4e00;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(250, 140, 22, 0.07);
      border-radius: 4px;
      width: 10vw;
      height: 10vw;
      i {
        font-size: 2vw;
        font-weight: 400;
      }
      span {
        margin-top: 1.5vh;
        max-width: 70%;
        text-align: center;
        font-size: 1vw;
      }
      transition: all ease 0.3s;
      &:hover {
        border: 1px solid #fa8c16;
        cursor: pointer;
      }
    }
  }
}
