.logs-button{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border-style: none;
}


.logs-button-active{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border-style: none;
    background-color: #434343;
    color: white;
}

.logs-button-disabled{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border-style: none;
    cursor: not-allowed;
    opacity: 0.5;
}