// input block
.inputBlock {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

// input block title
.inputBlockHeader {
  display: inline-block;
  width: 100%;
}

// input block title
.inputBlockTitle {
  float: left;
  width: auto;
}

// input block tip
.inputBlockTip {
  float: right;
  padding: 0;
  margin: 0;
  width: auto;
}

// input block input
.inputBlockInput {
  display: block;
}
