// .projectsPage {
//   height: 100%;
//   width: 100%;
// }

.projectsPage {
  margin: 40px;
  padding: 20px;
  background-color: #fff;

  .newProjectButton {
    margin-bottom: 20px;
  }

  // .header {
  //   margin-bottom: 20px;
  // }
}
