// HEADER
.mainSider {
  z-index: 1;
  background: linear-gradient(180deg, #135200 0%, #004e66 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  // MAIN MENU
  .mainMenu {
    background-color: transparent;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    padding: 8px;
  }
  .mainMenu.ant-menu-inline-collapsed {
    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #237804;
    border-radius: 2px;
  }

  .ant-layout-sider-trigger {
    background: rgba(255, 255, 255, 0.1);
  }

  // LOGO PLATIAGRO
  .logoPlatiagro {
    background-color: #135200;
    height: 30px;
    margin-top: 20px;
    text-align: center;
  }

  // LOGO DEMO FORAGRI
  .logoDemo {
    margin: 0 40px;
    float: right;
  }
}
