// HEADER
.detailsMenu {
  color: #f0f2f5;
}

.descriptionTitle {
  color: #262626;
}
.valueDescription {
  color: #8c8c8c;
}

.projectDetailsMenu {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
