// HEADER
.mainHeader {
  z-index: 1;
  background: linear-gradient(180deg, #3f6600 1.09%, #004e66 98.14%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  // MAIN MENU
  .mainMenu {
    width: 100%;
    line-height: 64px;
    background-color: transparent;
    padding: 8px;
    .ant-menu-item-selected {
      background-color: #508300;
      font-weight: bold;
    }
  }
  .mainMenu.ant-menu-inline-collapsed {
    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .ant-layout-sider-trigger {
    background: rgba(255, 255, 255, 0.1);
  }

  // LOGO PLATIAGRO
  .logoPlatiagro {
    margin: 8px;
  }

  // LOGO DEMO FORAGRI
  .logoDemo {
    margin: 0 40px;
    float: right;
  }
}
