.monitoring-drawer {
  .monitoring-drawer-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: white;

    .monitoring-drawer-header-title {
      margin: 0 16px 0 0;
      font-size: 16px;
      font-weight: bold;
      color: #262626;
    }
  }

  .monitoring-drawer-content {
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.09);

    .monitoring-drawer-skeletons {
      padding: 30px;
      overflow: hidden;

      .monitoring-drawer-skeleton-card {
        margin: 0 !important;
        width: 100%;
        height: 100%;
      }
    }

    .monitoring-drawer-content-add-card {
      margin: 0 !important;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      border: 2px dashed #d9d9d9;
      background: #fafafa;
      text-align: 'center';
    }
  }
}
