.componentPage {
  height: 100%;
  width: 100%;
  display: block;
  overflow: auto;
}

.componentPageBody {
  margin: 40px;
  padding: 20px;
  background-color: #fff;
  .header {
    margin-bottom: 20px;
  }
}

.col {
  padding: 10px;
}