.deploymentFlowBox__tooltip {
  .icon {
    font-size: 18px;

    &.running,
    &.pending,
    &.interrupted {
      color: #666666;
    }

    &.succeeded {
      color: #389e0d;
    }

    &.failed {
      color: #cf1322;
    }
  }
}
