// * {
//   margin: 0;
//   padding: 0;
// }

// html,
// body,
// #root {
//   width: 100%;
//   height: 100%;
//   background: rgb(60, 60, 60);
//   display: flex;
// }

// .demo-link {
//   padding: 0.5rem 1rem;
//   a {
//     color: white;
//     text-decoration: underline;
//     cursor: pointer;
//   }
// }

// .react-js-diagrams-canvas {
//   position: relative;
//   flex-grow: 1;
//   display: flex;
//   cursor: move;
//   overflow: hidden;
//   height: 500px;
//   width: 500px;
//   background-size: 40px 40px;
//   background-image: radial-gradient(
//     circle,
//     #00000080 1px,
//     rgba(0, 0, 0, 0) 1px
//   );

//   .point {
//     fill: rgba(white, 0.5);
//     &.selected {
//       fill: rgb(0, 192, 255);
//     }
//   }

//   .selector {
//     position: absolute;
//     background-color: rgba(0, 192, 255, 0.2);
//     border: solid 2px rgb(0, 192, 255);
//   }

//   svg {
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     transform-origin: 0 0;
//     overflow: visible;
//   }

//   .node-view {
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     position: absolute;
//     pointer-events: none;
//     transform-origin: 0 0;
//     z-index: 1;
//   }

//   .node {
//     position: absolute;
//     -webkit-touch-callout: none; /* iOS Safari */
//     -webkit-user-select: none; /* Chrome/Safari/Opera */
//     user-select: none;
//     cursor: move;
//     pointer-events: all;

//     &.selected {
//       > * {
//         border-color: rgb(0, 192, 255) !important;
//         -webkit-filter: drop-shadow(0 0 20px rgba(0, 192, 255, 0.5));
//       }
//     }
//   }

//   @keyframes dash {
//     from {
//       stroke-dashoffset: 24;
//     }
//     to {
//       stroke-dashoffset: 0;
//     }
//   }

//   path {
//     fill: none;
//     pointer-events: all;

//     &.selected {
//       stroke: rgb(0, 192, 255) !important;
//       stroke-dasharray: 10, 2;
//       animation: dash 1s linear infinite;
//     }
//   }

//   .port {
//     width: 15px;
//     height: 15px;
//     background: rgba(white, 0.1);
//     &:hover,
//     &.selected {
//       background: rgb(192, 255, 0);
//     }
//   }

//   .basic-node {
//     background-color: rgb(30, 30, 30);
//     border-radius: 5px;
//     font-family: Arial;
//     color: white;
//     border: solid 2px black;
//     overflow: visible;
//     font-size: 11px;
//     box-shadow: 0 0 10px rgba(black, 0.5);

//     .title {
//       background: rgba(black, 0.3);
//       display: flex;
//       white-space: nowrap;
//       > * {
//         align-self: center;
//       }
//       .fa {
//         padding: 5px;
//         opacity: 0.2;
//         cursor: pointer;

//         &:hover {
//           opacity: 1;
//         }
//       }
//       .name {
//         flex-grow: 1;
//         padding: 5px 5px;
//       }
//     }

//     .ports {
//       display: flex;
//       background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.2));
//       .in,
//       .out {
//         flex-grow: 1;
//         display: flex;
//         flex-direction: column;
//       }
//       .in-port,
//       .out-port {
//         display: flex;
//         margin-top: 1px;
//         > * {
//           align-self: center;
//         }
//         .name {
//           padding: 0 5px;
//         }
//       }
//       .out-port {
//         justify-content: flex-end;
//         .name {
//           justify-content: flex-end;
//           text-align: right;
//         }
//       }
//     }
//   }
// }
.dados {
  grid-area: dados;
}

.atributo-tempo {
  grid-area: atributoT;
}

.atributo-gen {
  grid-area: atributoG;
}

.filtro {
  grid-area: filtro;
}

.automl {
  grid-area: automl;
}

.pre1 {
  grid-area: pre1;
}

.pre2 {
  grid-area: pre2;
}

.grid-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.flow-container {
  //   position: relative;
  display: grid;
  //   width: 100%;

  //   justify-content: space-between;
  //   align-items: center;
  //   height: calc(100vh - 240px);
  //   overflow: hidden;
  //   background-size: 20px 20px;
  //   background-image: radial-gradient(
  //     circle,
  //     #58585862 1px,
  //     rgba(0, 0, 0, 0) 1px
  //   );

  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    border: 2px dashed #979797;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    font-size: 1em;
    // width: 100%;
    // max-width: 220px;
    height: 8vh;
    user-select: none;
    cursor: pointer;

    .title-icon {
      display: flex;
      align-items: center;
      span {
        margin-left: 8px;
      }
    }
    &.setted-up {
      background: #f5f5f5;
      border-style: solid;
      border-color: #52c41a;
      i {
        color: #52c41a;
      }
    }
    &.loading {
      background-image: linear-gradient(90deg, #52c41a 50%, transparent 50%),
        linear-gradient(90deg, #52c41a 50%, transparent 50%),
        linear-gradient(0deg, #52c41a 50%, transparent 50%),
        linear-gradient(0deg, #52c41a 50%, transparent 50%);
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
      background-position: left top, right bottom, left bottom, right top;
      animation: border-dance 1s infinite linear;
      border-color: transparent;
    }
    &.success {
      background: #d9f7be;
    }
    &.warn {
      background: #fff1f0;
      border-style: solid;
      border-color: #f5222d;
      i {
        color: #f5222d;
      }
    }

    &.selected {
      background: #e6f7ff;
      border-style: solid;
      border-color: #1890ff;
      i {
        color: #1890ff;
      }
    }
  }
}

.template-complete-automl {
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  // align-content: space-evenly;

  grid-column-gap: 4vw;
  grid-row-gap: 4vh;

  grid-template-areas:
    'dados filtro automl'
    'atributoT pre2 .'
    'pre1 atributoG .';
}

.item {
  //   display: flex;
  //   margin: 12px;
  //   padding: 1.5vw;
  //   justify-content: center;
  //   align-items: center;
  max-width: 220px;
}

.executing {
  g {
    path {
      stroke-dasharray: 10, 2;
      animation: dash 1s linear infinite;
    }
  }
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }
  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px,
      right top 15px;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 24;
  }
  to {
    stroke-dashoffset: 0;
  }
}
