.monitoring-panel {
  .monitoring-panel-skeletons {
    padding: 8px 16px 16px 16px;

    .monitoring-panel-skeleton {
      height: 85px;
      width: 200px;
      border-radius: 5px;
      margin: 8px 16px 8px 0;

      * {
        margin: 0;
      }
    }
  }

  .monitoring-panel-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8c8c8c;
    width: 100%;
    margin: 16px 0;

    .monitoring-panel-placeholder-icon {
      font-size: 42px;
    }
  }

  .monitoring-panel-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px 16px 16px;

    > * {
      margin: 8px 16px 8px 0;
    }
  }
}
